*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: url(imagens/fundo.png) repeat-x;
}

body.ciencia #navegacao a#ciencia,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos {
	color: #fff;
	background: #69001d;
	cursor: text;
}

#conteiner{
	width: 750px;
	margin: 0 auto;
}

#topo{
	/*border: 1px solid red;*/
	height: 150px;
	padding-top: 25px;
	background: url(imagens/detalhe-topo.png) no-repeat top right;
}

#topo ul{
	background: #b10333;
	margin-top: 30px;
	float: left;
}

#topo ul li{
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: white;
	background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
	background: none;
}

#topo ul a:hover{
	color: #69001d;
}

#conteudo {
	background: #f5f5f5;
	margin-top: 60px;
}

#lateral {
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}

#tres-colunas #primario {
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
}

#duas-colunas #primario {
	width: 555px;
	float: left;
	margin: 0 0 20px 195px;
}

#uma-coluna #primario {
	width: 750px;
	float: left;
	margin: 0 0 20px 0;
}

#secundario {
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}

#conteiner-rodape {
	background: #294c71;
	padding: 20px;
	clear: both;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
}

#lateral ul a {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
	color: #a1a1a1;
	background: lightgrey url('imagens/marcador.png') no-repeat left center;
	padding-left: 20px;
}

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias li:hover {
	background: #eee;
	cursor: pointer;
}

#lista-noticias li a {
	text-decoration: none;
}

#lista-noticias li a h4 {
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
	text-transform: uppercase;
}

#lista-noticias li a p {
	font-size: 0.7em;
}

#lista-noticias li a img {
	float: left;
	margin: 5px;
}

#lista-noticias li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 65px;
}

.logo{
	width: 152px;
	height: 66px;
	background: url(imagens/logo.png);
	text-indent: -3000px;
}

.caixa {
	margin: 10px 0;
	padding: 5px;
	background: #f3f3f3 url('imagens/fundo-caixa.png')
}

.caixa-conteudo {
	background: #fff;
	padding: 5px;
	margin-top: 5px;

}

h2 {
	font-size: 1.1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}

h3 {
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
	background-color: #b10333;
	color: #fff;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

label {
	display: block;
	cursor: pointer;
}

input {
	font-size: 0.9em;
	background-color: #fff;
	padding: 5px;
	width: 145px;
	margin-bottom: 2px;
}

button {
	width: 160px;
	color: white;
	background-color: #b10333;
	border: 2px solid #870529;
	padding: 5px;
	margin-top: 2px;
	display: block;
	margin-left: auto;
}






























