#conteiner {
	width: 900px;
	margin: 5px auto;
}

#principal{
	width: 900px;
}

#conteudo{
	background: #e8e8d9;
	padding: 10px;
}

.fundo{
	background: #d2d2c1 url('imagens/fundo.png');
}

.format{
	font: 16px Arial, Helvetica, sans-serif;
}

.centralizar{
	text-align: center;
}

.img-border{
	border: 10px solid #c3c3ae;
}

.fundo-menu{
	background:  #c5c5b2 ;
	padding: 18px ;
}

a{
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
}

h1{
	color: #828271;
	font-size: 1.2em
}

a:hover{
	color: white;
}
